---
import { Footer, Navbar } from "@walle/components";
import config from "@walle/config";
import { AbstractLayout } from "@walle/layouts";
---

<AbstractLayout {...Astro.props}>
  <header role="banner">
    <Navbar config={config.navbar || {}} />
  </header>
  <main id="main-content" tabindex="-1" role="main">
    <slot />
  </main>
  <footer role="contentinfo">
    <Footer />
  </footer>
</AbstractLayout>
